@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

/* ------------------ BASE LAYER ------------------ */
@layer base {
  :root {
    --font-sans: 'Space Grotesk', sans-serif !important;

    --background: #ffffff;
    --foreground: #0f172a;
  }

  .dark {
    --background: #0f172a;
    --foreground: #f8fafc;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}


/* ------------------ UTILITIES ------------------ */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* ------------------ SCROLLBAR ------------------ */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f5f9;
}

.dark ::-webkit-scrollbar-track {
  background-color: #1e293b;
}

::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 9999px;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #475569;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: #64748b;
}


/* Custom Utilities */
.gradient-text {
  background: linear-gradient(to right, #ef4444, #9333ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}